.news-signup__form {
  width: 640px;
  margin-top: 90px;
  margin-bottom: 60px;
  position: relative;
  z-index: 30;
}

.news-signup__field-group {
  float: left;
  width: calc(100% - 254px);
  padding-right: 10px;
  label {
    display: none;
  }
}

.news-signup-form__email {
  border: 3px solid $beyond-red;
  text-transform: uppercase;
  line-height: 44px;
  height: 44px;
  width: 100%;
  padding: 0 10px;
  outline: none;
  transition: all 0.2s ease-in-out;
  &:focus {
    box-shadow: 4px 4px 0 $beyond-green;
  }
}

.news-signup-form__submit {
  height: 44px;
  width: 254px;
}

.btn {
  background-color: $beyond-red;
  border: none;
  padding: 10px 0;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  box-shadow: 4px 4px 0 $beyond-green;
  outline: none;
  transition: all 0.2s ease-in-out;
  &:focus, &:hover {
    box-shadow: 2px 2px 0 $beyond-green;
    transform: translate(2px, 2px);
  }
}